@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: $dark !important;
  color: white !important;
}

.leaflet-container {
  background: transparent !important;
}

.leaflet-popup-close-button {
  @apply tw-text-neutral-400 #{!important};

  &:hover {
    color: white !important;
  }
}